.cabecalho {
    color:var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}
/*  o “rem” é a mesma coisa, só que ao invés de ser da tag mãe, ele vai ser da tag com o maior nível hierárquico do que todos, que vai 
ser a tag “html”, que vai ser o elemento raiz do nosso documento HTML. */
/* Já que o “rem” se baseia no font-size da minha tag “html”, então os elementos devem mudar de tamanho
 conforme o font-size que eu coloquei aqui dentro da tag “html”. */